body
{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;

    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */

    background-color: #008080;
}

@keyframes fade-out
{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fade-in
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#loading
{
    position: absolute;
    z-index: 5;
    cursor: none;
    margin: auto;
    top: 0;
    background-color: rgb(191, 192, 130);
    width: 100vw;
    height: 100vh;     
    background-image: url('./img/sky1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#windows-logo
{
    width: 55vw;
    height: 55vh;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    background-image: url('./img/windows95logo1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#windows-logo h1{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 5em;
    position: absolute;
    bottom: -20vh;
    margin: auto;
    left: 0;
    right: 0;
    letter-spacing: -0.8vw;
}
#loading i{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2vw;
    top: 1vh;
    right: 2vw;
    position: absolute;
}


#taskbar
{
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    z-index: -2;
    border-top: 3px solid rgb(238, 238, 238);
}
#start-button
{
    width: 70px;
    height: 70%;
    background-color: rgb(212, 212, 212);
    border-top: 3px solid rgb(238, 238, 238);
    border-left: 3px solid rgb(238, 238, 238);
    border-bottom: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}
#start-button:hover
{
    cursor: pointer;
}
.start-button-open
{
    background-color: rgb(200, 200, 200)!important;
    border-bottom: 3px solid rgb(238, 238, 238)!important;
    border-right: 3px solid rgb(238, 238, 238)!important;
    border-top: 3px solid rgb(112, 112, 112)!important;
    border-left: 3px solid rgb(112, 112, 112)!important;
}
#start-button img
{
    width: 25px;
    position: absolute;
    left: 2px;
    height: 25px;
    top: -1px;
    display: inline;
}
#start-button span
{
    position: absolute;
    display: inline;
    font-size: 20px;
    right: 2px;
    top: -1px;
    font-weight: 600;
}
.tab
{
    width: 12vw;
    height: 100%;
    margin-left: 2px;
    position: relative;
    display: inline-block;
    background-color: rgb(212, 212, 212);
    border-top: 3px solid rgb(238, 238, 238);
    border-left: 3px solid rgb(238, 238, 238);
    border-bottom: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
}
.tab img
{
    position: absolute;
    display: inline;
    left: 1px;
    top: 2px;
    width: 20px;
}
.tab span
{
    position: absolute;
    top: 3px;
    display: inline-block;
    text-align: left;
    left: 25px;
    font-size: 14px;
}

#clock
{
    width: 80px;
    height: 70%;
    background-color: rgb(212, 212, 212);
    border-bottom: 2px solid rgb(238, 238, 238);
    border-right: 2px solid rgb(238, 238, 238);
    border-top: 2px solid rgb(159, 159, 159);
    border-left: 2px solid rgb(159, 159, 159);
    position: absolute;
    top: 48%;
    right: 4px;
    transform: translateY(-50%);
}
#clock span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
    font-size: 15px;
}

#tabs
{
    position: absolute;
    display: flex;
    left: 85px;
    right: 95px;
    top: 3px;
    width: auto;
    height: 22px;
    text-align: left;
    justify-content: left;
}

#desktop
{
    width: 100%;
    height: auto;
    margin: auto;
}
.icon
{
    width: 70px;
    height: 8vh;
    position: relative;
    left: 10px;
    padding-top: 1.5vh;
    display: block;
    margin-top: 3vh;
}
.icon img
{
    width: 5vh;
    height: 5vh;
}
.icon p
{
    color: white;
    font-weight: 1;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.highlight-icon p
{
    background-color: rgb(13, 40, 156);
}
.highlight-icon img
{
    filter: contrast(0.6) brightness(0.8);
}

